@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Galada|Noto+Sans+TC&display=swap');


.container-fluid
{
	background-color:#f5f6fa;
	height:100%;
}

.row-2{
	margin-top:4vh;
}



.wrapper{
	border-bottom : 1px solid red;
}

.heading , .brand-name{

	text-align:center;
	font-size:3vw;
	font-family: 'Noto Sans TC', sans-serif;
	
}

.brand-name{
	font-family: 'Galada', cursive;
}

.login 
{
	height:5vh;	
	border:2px solid red;
	display : flex;
  	align-items : center;
  	justify-content: center;
}

a{
	font-family: 'Dancing Script', cursive;
	color:#eb4d4b;
	font-size:1.5vw;
	
}