 @import url('https://fonts.googleapis.com/css?family=Acme|Bree+Serif|Catamaran|EB+Garamond|Zhi+Mang+Xing&display=swap');
body
{
	background-color:#f5f6fa;
}

.heading
{
	font-family: 'EB Garamond', serif;
	font-size:3em;
	border-bottom:1px dashed red;
	display:flex;
	align-items : center;
	justify-content: center;
}

.row{
	margin-top:4vh;
}
  .filter
  {
  	width:80%;
  	margin-left:1em;
  }
  
  select
  {
  	width:70%;
  	height:3em;
  	text-align-last:center;
  	border:1px solid #353b48;
 	background-color:#00a8ff;
 	color:white;
  }
  
  select:focus
  {
  	outline-width: none;
    outline-style: none;
    outline-color: none;
  }
  
  
  option
  {
  	background-color:#f5f6fa;
  	color:black;
  	font-family: 'Catamaran', sans-serif;
  	font-size:1em;
  }
  
.cart-icon
{
	font-size:3.5em;
	color:black
}

.cart-col
{
	display:flex;
	align-items : center;
	justify-content: flex-end;
}
  
.add-to-cart
{
	border:none;
	background-color:#00a8ff;
	border-radius:5px;
	color:white;
	width:100%;
}  
 .cart-button
 {
 	display:flex;
	align-items : center;
	justify-content: center;
	border:1px solid red;
 }
  
  
td ,th  {
    vertical-align: middle;
    text-align: center;
}

td ul {
    vertical-align: middle;
    display:block;
}
  
  
 .remove-icon
{
	font-size:2em;
	color:red;
}  
  
  
  .cart-heading
  {
  	font-size:2.5em;
  	text-decoration:underline;
  	font-family: 'Zhi Mang Xing', cursive;
  	text-align:center;
  	margin-bottom:4vh;
  }
  
  #cart-box
  {
  	z-index:10;
  	position:absolute;
  	width:80%;
  	left:10%;
  	top:-100%;
  	transition-property: top;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.25s;
  }
  
  .cross-icon
  {
  	font-size:3em;
  	color:red;
  	top:2%;
  	right:1%;
  	position:absolute;
  }
  